@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');



body, html{
  background-image: radial-gradient(circle, rgba(94, 10, 10, 0.747), rgb(19, 8, 51));
}

a{
    text-decoration: none;
}
ol, ul {
	list-style: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
