.search-row{
    margin: 3rem;
}

.form-group label{
    color: #f3f3f3;
    font-family: 'Open Sans', sans;
    font-size: 30px;
    
}

.form-group #searchHelp{
    color: #f3f3f3;
    font-family: Raleway, sans-serif;
}
.form-control{
    width: 25vw;
}

.form-fade-in{
    opacity: 0;

    animation: fadeIn-c 0.6s ease forwards;
}

@keyframes fadeIn-c {
    from{
     
     opacity: 0;
     
    }
    to{
    
     opacity: 1;
  
    }
 }
