.new-card{
    width: 250px;
    height:350px;
    position: relative;
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: #ffffff;
    border-radius: 0;
    padding:0;

}

.new-card.rollback{
    transform-origin: 50%, 50%;
    /* transition: transform 0.5s ease;
    transform: scale(0); */
    animation: rollback 0.6s ease forwards;
}

@keyframes rollback{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}

.card-body button{
    width: 100%;
    position: absolute;
    top:80%;
}

.card-img-top{
    position: absolute;
    top: 0;
    filter: brightness(70%);
    height:100%;
    transition: all 0.6s ease;
}

.new-card:hover .card-img-top{
    
    filter: brightness(40%)
}

.card-text{
    position: absolute;
    display: none;
    background: #ffffff;
}

.card-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: absolute;
    top:25%;
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
    font-weight: 700; 
    background: black;
    margin: 4px;
    text-align: center;
    padding: 5px;
}

h5.card-title a{
    color: #f3f3f3;
    padding-left: 5px;
    padding-right:5px;
}
.card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body .card-authors{
    position: absolute;
    top:50%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p.card-authors{
    color:white;
    background: black;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: 300;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title a{
    text-decoration: none;
    font-family: Raleway, sans-serif;
    color: black;
    font-size: 15px;
}

.card-body button{
    width: 40%;
    position: absolute;
    top: 60%;
}


.anim{
    opacity: 0;

    animation: fadeIn-a 0.5s ease-out 0.5s  forwards;
}

@keyframes fadeIn-a {
    from{
  
     opacity: 0;
     
    }
    to{
     
     opacity: 1;
     
    }
 }

