.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: white;
    text-align: center;
    margin-top: 2rem;
}


.fanim{
    opacity: 0;

    animation: fadeIn-b 0.4s 0.5s ease-out forwards;
}

@keyframes fadeIn-b {
    from{
     bottom: 0;
     opacity: 0;
     height:0%;
    }
    to{
     bottom:0;
     opacity: 1;
     height:100%;
    }
 }