

button{
    overflow:hidden;
    display: block;
    position: relative;
    text-decoration: none;
    border: 2px white solid;
    color: rgb(255, 255, 255);
    background:none;
    font-family: Raleway, sans;
    font-size:16px;
    width: 160px;
    height: 50px;
    margin-top: 40px;
    overflow: hidden;
    cursor: pointer;
}


button:before,
button:after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
 
  transition-duration: 0.6s;
}

.landing-button:before{
    position: absolute;
    content: '';
    height: 100%;
    left: -35%;
    top: 0;
    transition-duration: 0.6s;
    transform: skew(50deg);
    transform-origin: top left;
    
    width: 0;
  
    


}



.landing-button:hover:before{
    height: 100%;
    width: 135%;
    

    
}


button{
    transition: all 0.6s ease;
}
button:hover{
    color: #0732f1;
    
    z-index: 8;
    
}


