.new-nav-bar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    background: transparent;
    
}
.new-nav-bar .nav-logo{
    transform: translate(125px, 25px);
}

.new-nav-bar .nav-logo h1{
    color: #f3f3f3;
    font-family: 'Open Sans';

}
.new-nav-list{
    display: flex;
    color: #f3f3f3;
    flex-direction: row;
    transform: translate(-125px, 25px);
    font-family: Raleway;
    font-weight: 400;
    align-items: center;
}

.new-nav-list a{
    color: #f3f3f3;
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
}

@media screen and (max-width: 1570px){

    .new-nav-bar .nav-logo{
        transform: translate(125px, 25px);
    }

    .new-nav-list{
        transform: translate(-125px, 25px);
    }


}
